/* Reduce aún más la altura de las filas de la tabla */
.ant-table-tbody > tr > td {
  font-size: 14px; /* Disminuye aún más el tamaño de la fuente */
  padding: 0px 4px; /* Minimiza aún más el padding en las celdas */
  line-height: 1; /* Mantiene la altura de línea ajustada */
  word-wrap: break-word; /* Asegura que el texto largo se ajuste */
}

/* Reduce aún más la altura del encabezado de la tabla */
.ant-table-thead > tr > th {
  padding: 0px 4px; /* Minimiza aún más el padding en las celdas del encabezado */
  line-height: 1;
}

/* Reduce aún más la distancia entre las filas de la tabla */
.ant-table-tbody > tr {
  height: 18px; /* Reduce aún más la altura de las filas */
  margin: 0; /* Elimina el margen entre filas */
}

/* Ajuste adicional en los bordes de las celdas para compactarlas aún más */
.ant-table-tbody > tr > td, 
.ant-table-thead > tr > th {
  border-width: 0px; /* Elimina los bordes para un diseño más compacto */
}

/* Estilos para el botón primario */
.ant-btn-primary {
  background-color: #f5f5dc !important; /* Color crema */
  color: black !important;
  border: none !important;
  padding: 4px 8px; /* Ajusta el padding del botón */
  transition: background-color 0.3s ease;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #e0e0b2 !important; /* Un poco más oscuro al hacer hover */
  color: black !important;
}
