/* Reduce aún más la altura de las filas de la tabla */
.ant-table-tbody > tr > td {
  padding: 2px 4px; /* Reduce aún más el padding vertical y horizontal */
  line-height: 1; /* Ajusta la altura de línea para hacer las filas más compactas */
}
  
/* Reduce aún más la altura del encabezado de la tabla */
.ant-table-thead > tr > th {
  padding: 2px 4px; /* Reduce el padding del encabezado */
  line-height: 1;
}

/* Reduce aún más la diastancia entre las filas de la tabla */
.ant-table-tbody > tr {
  margin: 0; /* Elimina el margen entre filas */
}

.ant-btn-primary {
  background-color: #f5f5dc !important; /* Color crema */
  color: black !important;
  border: none !important;
  transition: background-color 0.3s ease;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #e0e0b2 !important; /* Un poco más oscuro al hacer hover */
  color: black !important;
}